<div class="blackscreen" [class.displayed]="showme">
	<div class="blackscreen-container">
		<div class="blackscreen-content">
			<div class="body">
				<div class="logo_cont">
					<object data="assets/img/logo_cgr.svg" type="image/svg+xml"></object>
				</div>
				<div class="spinner_cgr">
					<div class="rect1"></div>
					<div class="rect2"></div>
					<div class="rect3"></div>
					<div class="rect4"></div>
					<div class="rect5"></div>
					<div class="rect6"></div>
					<div class="rect7"></div>
					<div class="rect8"></div>
				</div>
				<div class="message">{{ message }}</div>
			</div>
		</div>
	</div>
</div>