:host {
}
.leyenda, .leyenda_comunal{
	position:absolute;
	padding:10px;
	right:5px;
	bottom:10px;
	height: 220px;
	width: 200px;
	background:rgba(255,255,255,1);
	border-radius:5px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(112,108,112,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(112,108,112,1);
    box-shadow: 0px 0px 5px 0px rgba(112,108,112,1);
	flex-direction:column;
	@media (max-width: 420px ) { 
		height: 50px;
		width: 160px;
	}
	.head{
		display:flex;
		height:30px;
		font-size: 0.8rem;
		@media (max-width: 420px ) { 
			font-size: 0.6rem;
			height: 10px;
		}
	}
	.body{
		display:flex;
		flex-direction:row;
		height:190px;
		font-size: 0.8rem;
		@media (max-width: 420px ) { 
			flex-direction: column;
			height: 30px;
		}
		.scale{
			width:20px;
			height:160px;
			background: hsl(241, 65%, 40); /* For browsers that do not support gradients */
		    background: -webkit-linear-gradient(hsl(241, 65%, 40), hsl(241, 65%, 100)); /* For Safari 5.1 to 6.0 */
		    background: -o-linear-gradient(hsl(241, 65%, 40), hsl(241, 65%, 100)); /* For Opera 11.1 to 12.0 */
		    background: -moz-linear-gradient(hsl(241, 65%, 40), hsl(241, 65%, 100)); /* For Firefox 3.6 to 15 */
		    background: linear-gradient(hsl(241, 65%, 40), hsl(241, 65%, 100)); /* Standard syntax */
			margin-right:5px;
			@media (max-width: 420px ) { 
				width:100%;
				height:5px;
				margin-top: 5px;
				background: hsl(241, 65%, 40); /* For browsers that do not support gradients */
				background: -webkit-linear-gradient(90deg,hsl(241, 65%, 40), hsl(241, 65%, 100)); /* For Safari 5.1 to 6.0 */
				background: -o-linear-gradient(90deg,hsl(241, 65%, 40), hsl(241, 65%, 100)); /* For Opera 11.1 to 12.0 */
				background: -moz-linear-gradient(90deg,hsl(241, 65%, 40), hsl(241, 65%, 100)); /* For Firefox 3.6 to 15 */
				background: linear-gradient(90deg,hsl(241, 65%, 40), hsl(241, 65%, 100)); /* Standard syntax */
			}
		}
		.fila{
			display:flex;
			width:100%;
			flex-direction:column;
			padding: 3px 5px;
			@media (max-width: 420px ) { 
				font-size:0.55rem;
			}
			@media (max-width: 420px ) { 
				flex-direction: row;
			}
			.bottom{
				display:flex;
				height:33.3%;
				@media (max-width: 420px ) { 
					height:100%;
					width: 33.3%;
				}
			}
			.middle{
				display:flex;
				height:33.3%;
				@media (max-width: 420px ) { 
					height:100%;
					width: 33.3%;
					justify-content: center;
				}
			}
			.top{
				display:flex;
				height:33.3%;
				@media (max-width: 420px ) { 
					height:100%;
					width: 33.3%;
					justify-content: flex-end;
				}
			}
		}
	}
}
.visor{
	position:absolute;
	padding:10px;
	right:10px;
	top:40px;
	min-height: 190px;
	min-width: 250px;
	width:auto;
	height:auto;
	background:rgba(255,255,255,0.8);
	border-radius:5px;
	border: 1px solid #999;
	flex-direction:column;
	.head{
		display:flex;
		height:30px;
		font-size: 0.8rem;
		border-bottom: 1px solid #999;
	}
	.body{
		display:flex;
		flex-direction:column;
		height:auto;
		font-size: 0.8rem;
		.fila{
			display:flex;
			width:100%;
			flex-direction:row;
			padding: 3px 5px;
			height:35px;
			span{
				display:flex;
				align-self:center;
			}
		}
		.fila_detail{
			display:flex;
			width:100%;
			flex-direction:row;
			padding: 3px 5px;
			height:25px;
			span{
				display:flex;
				align-self:center;
			}
		}
		.border_bottom{
			border-bottom: 1px solid #999;
			height: 26px;
			margin-bottom: 5px;
		}
	}
}
/*INFO BOARD*/
.info_board{
	width: calc(100% - 350px);
	height: auto;
	position:absolute;
	display:flex;
	justify-content:center;
	top: 10px;
	left: 270px;
	.regional{
		width:auto;
		background:#FFF;
		display:flex;
		flex-direction:Row;
		padding:10px;
		border-radius:5px;
		-webkit-box-shadow: 0px 0px 5px 0px rgba(112,108,112,1);
		-moz-box-shadow: 0px 0px 5px 0px rgba(112,108,112,1);
		box-shadow: 0px 0px 5px 0px rgba(112,108,112,1);
		margin-right:10px;
		.title{
			height:60px;
			display:flex;
			max-width:250px;
			padding-right:10px;
			font-size:1.1rem;
			.text{
				display:flex;
				align-self:center;
				font-weight:bold;
			}
		}
		.info{
			height:60px;
			width:90px;
			display:flex;
			flex-direction:column;
			.value{
				display:flex;
				justify-content:center;
				font-size:1.6rem;
			}
			.text{
				display:flex;
				font-size:0.6rem;
				justify-content:center;
				text-align:center;
			}
		}
		.arrow{
			width:30px;
			height:60px;
			display:flex;
			font-size:3rem;
			i{
				display:flex;
				align-self:center;
			}
		}
	}
	.comunal{
		width:300px;
		background:#FFF;
		display:flex;
		flex-direction:Row;
		padding:10px;
		border-radius:5px;
		-webkit-box-shadow: 0px 0px 5px 0px rgba(112,108,112,1);
		-moz-box-shadow: 0px 0px 5px 0px rgba(112,108,112,1);
		box-shadow: 0px 0px 5px 0px rgba(112,108,112,1);
		margin-right:10px;
		.title{
			height:60px;
			display:flex;
			max-width:250px;
			padding-right:10px;
			font-size:1.1rem;
			.text{
				display:flex;
				align-self:center;
				font-weight:bold;
			}
		}
		.info{
			height:60px;
			width:90px;
			display:flex;
			flex-direction:column;
			margin-right:10px;
			.value{
				display:flex;
				justify-content:center;
				font-size:1.6rem;
			}
			.text{
				display:flex;
				font-size:0.6rem;
				justify-content:center;
				text-align:center;
			}
		}
		.arrow{
			width:30px;
			height:60px;
			margin-right:15px;
			display:flex;
			font-size:3rem;
			i{
				display:flex;
				align-self:center;
			}
		}
	}
	.semaforo_box{
		background:#4C6FED;
		color: #FFF;
	}
}
/*INFO*/
.informes{
	position:absolute;
	flex-direction:column;
	border-radius:5px;
	display:flex;
	width: 60%;
	height:500px;
	background: rgba(255,255,255,0.9);
	border: 1px #333 solid;
	left: 0;
    margin: auto;
    right: 0;
    bottom: 0;
    top: 0;
    .header{
		background:#4C6FED;
		height:80px;
		width:100%;
		border-top-left-radius:5px;
		border-top-right-radius:5px;
		display:flex;
		flex-direction:row;
		padding:10px;
		padding-left:20px;
		.title{
			display:flex;
			flex-direction:row;
			height:100%;
			width:52%;
			.icon{
				display:flex;
				margin-right:10px;
				i{
					display:flex;
					align-self:center;
					font-size:3rem;
					color:#FFF;
				}
			}
			.location{
				display:flex;
				flex-direction:column;
				justify-content:center;
				.region{
					width:300px;
					color:#FFF;
					font-size:0.8rem;
				}
				.comuna{
					color:#FFF;
					font-size:1.2rem;
					font-weight:bold;
				}
			}
		}
		.data{
			display:flex;
			width:45%;
			flex-direction:column;
			font-size:0.9rem;
			justify-content:center;
			.text{
				color:#FFF;
			}
			.search{
	    		display:flex;
	    		flex-direction:row;
	    		padding:5px 10px;
	    		height:50px;
				width:100%;
				justify-content: right;
	    		.title{
	    			display:flex;
	    			align-items:center;
	    		}
	    		.buscador{
	    			display:flex;
	    			position:relative;
	    			.icon{
	    				position:absolute;
	    				right:10px;
	    				top:7px;
	    			}
	    			input{
	    				width:250px;
	    				height:30px;
	    				align-self:center;
	    				border: 1px solid #CCC;
	    				margin-left: 20px;
	    				border-radius:5px;
	    				padding-right:15px;
	    			}
	    		}
	    	}
		}
		.cerrar{
			display:flex;
			width:2%;
			color: #FFF;
			font-size:1.1rem;
			flex-direction:row;
			justify-content:flex-end;
		}
	}
    .body{
    	display:flex;
    	flex-direction:column;
    	height: calc(100% - 30px);
    	width:100%;

    	.table_container{
    		overflow: scroll;
    		overflow-x:hidden;
    		height: calc(100% - 40px);
    		width:100%;
    		font-size:0.8rem;
    		table{
    			width:100%;
    			i{
    				cursor:pointer;
				}
				.overflow {
					overflow: hidden;
					max-width: 600px;
				}
    		}
    	}
    	.footer{
    		display:flex;
    		width:100%;
    		height:60px;
    		padding:10px;
    		background:#FFF;
    		color: #777;
    		border-radius:15px;
    		border-top-left-radius:0px;
    		border-top-right-radius:0px;
    		.resumen{
    			display:flex;
	    		width:50%;
	    		color:#4B6FED;
	    		align-items:center;
	    		padding-left:20px;
    		}
    		.paginator{
    			justify-content:flex-end;
	    		display:flex;
	    		margin-right:20px;
				width:50%;
	    		.arrow{
					cursor: pointer;
	    			padding: 10px;
	    			&:hover{
	    				background: #CCC;
	    			}
	    		}
	    		.page{
					cursor: pointer;
	    			padding: 10px;
	    			&:hover{
	    				background: #CCC;
	    			}
	    		}
	    		.active{
					cursor: pointer;
	    			background:#3A60EC;
	    			color:#FFF;
	    		}
	    	}
    	}
    }
}
.control{
	position:absolute;
	display:flex;
	right:5px;
	bottom:570px;
	background: #FFF;
	color: #777; 	
	border-radius:5px; 
	-webkit-box-shadow: 0px 0px 5px 0px rgba(112,108,112,1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(112,108,112,1);
	box-shadow: 0px 0px 5px 0px rgba(112,108,112,1);
	height:80px;
	width:80px;
	flex-direction:column;
	.icon{
		font-size:2.1rem;
		display:flex;
		cursor:pointer;
		width:100%;
		height: 60px;
		justify-content:center;
		align-items:center;
	}
	.label{
		width:100%;
		height:20px;
		display:flex;
		justify-content:center;
		align-items:center;
		font-size:0.6rem;
	}
}
// LOGO DE LA CAPA - PROCEDENCIA DE LA INFORMACIÓN 
.logo{
	position:absolute;
	height:90px;
	width:250px;
	bottom: 0px;
	left:10px;
	background: url('assets/img/sica.png');
	background-size:contain;
	background-repeat:no-repeat;
}